/* Estilos generales */
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilo de los títulos */
  h2, h3, h4 {
    color: #ff7300;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.8em;
    text-align: center;
  }
  
  .subtitulo {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Descripción, características, modalidades, ventajas, solicitud */
  .descripcion, .caracteristicas, .modalidades, .ventajas, .solicitud, .contacto {
    margin-bottom: 30px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: 1em;
  }
  
  /* Modalidades */
  .modalidad {
    margin-bottom: 20px;
  }
  .solicitud{
    padding-top: 40px;
  }
  .modalidades{
    background-color: #62393c;
    padding-top: 30px;
    padding-bottom: 25px;
    border-radius: 20px;
  }
  
  /* Contacto */
  .whatsapp-link {
    display: inline-block;
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .whatsapp-link:hover {
    background-color: #128c7e;
  }
  
  /* Estilos Responsivos */
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5em;
    }
  
    .subtitulo {
      font-size: 1em;
    }
  
    .whatsapp-link {
      padding: 8px 15px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 10px;
    }
  
    h2 {
      font-size: 1.2em;
    }
  
    .subtitulo {
      font-size: 0.9em;
    }
  }
  
  /* este css es de la landing asesori.html */

  .nav__logo {
    display: flex;                /* Habilita Flexbox */
    justify-content: center;      /* Centra el contenido horizontalmente */
    align-items: center;          /* Centra el contenido verticalmente */
    height: 100%;                  /* Asegura que el contenedor ocupe toda la altura disponible */
  }
  
  .logo-logo {
    display: flex;                /* Habilita Flexbox para alinear logo y texto */
    align-items: center;          /* Centra el logo y texto verticalmente */
    text-decoration: none;        /* Elimina el subrayado del enlace */
    color: inherit; 
    padding-top: 2rem;              /* Mantiene el color del texto heredado */
  }
  
  .log-img {
    width: 25px;                  /* Establece el tamaño del logo */
    height: auto;                 /* Mantiene la relación de aspecto */
    margin-right: 8px;            /* Espacio entre el logo y el texto */
  }
  
  .asesoria-credito {
    padding-top: 35px;
  }