:root {
  --primary-color-dark: #1d4ce6;
  --primary-color-darkf: #34075c;
  --secondary-colorf: #ffffff;
  --secondary-color-light: #81cf1a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(
    to right,
    var(--primary-color-dark),
    var(--primary-color)
  );
}


.btnf {
  padding: 0.5rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--secondary-colorf);
  background-image: var(--gradient);
  border-radius: 5rem;
  cursor: pointer;
}

.project__header {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.project__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.project__btnf {
  color: var(--white);
  background-image: none;
  background-color: transparent;
}

.project__btnf.active {
  color: var(--secondary-colorf);
  background-image: var(--gradient);
}

.project__grid {
  display: grid;
  gap: 1rem;
}

.project__grid h3{
  color:#1d96e6;
  padding-bottom: 10px;
}

.project__grid h4{
  color: #ff7300;
  padding-top: 10px;
}

.pr{
  padding-top: 10px;
}

.project__card img {
  border-radius: 5px;
  cursor: pointer;
}

@media (width > 480px) {
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  .project__header {
    flex-direction: row;
  }

  .project__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 1024px) {
  .project__grid {
    gap: 2rem;
  }
}

