---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ReportadosSection from '../components/ReportadosSection.astro';
import Benefits from '../components/Benefits.astro';
import Requirements from '../components/Requirements.astro';
import Partners from '../components/Partners.astro';
import Features from '../components/Features.astro';
import FAQ from '../components/FAQ.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="CrediGestor - Crédito de Libranza para Pensionados, Maestros y Policías">
	<Header />
	<main>
		<Hero />
		<ReportadosSection />
		<Benefits />
		<Requirements />
		<Partners />
		<Features />
		<FAQ />
		<About />
	</main>
	<Footer />
</Layout>
